<div class="home-content">
    <h2 class="text-center" ng-if="!homeCtrl.items.length">No items to show. Please, <a ui-sref="main.noteDetail">add your firs note</a></h2>
    <table class="table table-hover" ng-if="homeCtrl.items.length">
        <tr note-item ng-repeat="item in homeCtrl.items track by item.id" item="item"></tr>
    </table>
</div>
