<tr>
    <td ng-bind="::item.id"></td>
    <td ng-bind="::item.name"></td>
    <td class="note-text">
        <pre ng-bind="::item.text"></pre>
    </td>
    <td><span class="color-item" ng-style="{'background-color': item.color.color}"></span></td>
    <td>
        <span class="label label-default" ng-repeat="tag in ::item.tags" ng-bind="::tag.name"></span>
    </td>
    <td>
        <span class="label label-default" ng-repeat="category in ::item.categories" ng-bind="::category.name"></span>
    </td>
    <td>
        <div class="btn-group" role="group">
            <a class="btn btn-success" ui-sref="main.noteDetail({id: item.id})">Edit</a>
            <button type="button" class="btn btn-danger" ng-click="homeCtrl.deleteItem($index)">Delete</button>
        </div>
    </td>
</tr>