<div class="modal fade bs-example-modal-sm" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add new category</h4>
            </div>
            <div class="modal-body category-modal">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newItem.name">
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary" ng-click="addSubcategory()">Add subcategory</button>
                    </div>
                    <div class="input-group" ng-repeat="subcat in newItem.subcategories">
                        <input type="text" class="form-control" ng-blur="checkSubcategoryIsEmpty(subcat, $index)" ng-model="subcat.name" placeholder="Add subcategory...">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeSubcategory($index)">
                                  <span class="glyphicon glyphicon-minus"></span>
                              </button>
                          </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="createCategory(newItem)">Add</button>
            </div>
        </div>
    </div>
</div>