<div class="create-note-modal">
    <form class="form-horizontal" name="noteForm" ng-submit="noteCtrl.handleCreate(noteForm, noteCtrl.item)">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="noteCtrl.item.name" placeholder="Name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Color</label>

            <div class="col-sm-10">
                <ul class="colors-wrapper">
                    <li class="color-item-wrapper" ng-repeat="color in ::noteCtrl.colors"
                        ng-click="noteCtrl.item.color = color;">
                            <span class="color-item" ng-class="{active: color.id === noteCtrl.item.color.id}"
                                  ng-style="{'background-color': color.color}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group labels-row">
            <label class="col-sm-2 control-label">Labels</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="labels-inner-wrapper">
                            <span ng-show="noteCtrl.item.tags.length === 0">No labels selected</span>
                            <span class="label label-default" ng-click="noteCtrl.removeTag($index, tag)" ng-repeat="tag in noteCtrl.item.tags" ng-bind="::tag.name"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Select label
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-if="!tag.selected" ng-repeat="tag in noteCtrl.tags">
                                    <a href="#" ng-click="noteCtrl.selectTag($event, tag)" ng-bind="::tag.name"></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#" ng-click="$event.preventDefault(); noteCtrl.showAddTagModal = true;">Add label</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Categories</label>
            <div class="col-sm-10">
                <div class="row categories-row">
                    <div class="col-sm-8">
                        <div class="categories-inner-wrapper">
                            <span ng-show="noteCtrl.item.categories.length === 0">No categories selected</span>
                            <span class="label label-default" ng-click="noteCtrl.removeCategory($index, category)" ng-repeat="category in noteCtrl.item.categories" ng-bind="::category.name"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Select category
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li ng-repeat="category in noteCtrl.categories track by category.id">
                                    <a href="#" ng-class="{'selected': category.selected}" ng-click="noteCtrl.selectCategory($event, category)" ng-bind="::category.name"></a>
                                    <ul class="subcategory-list" ng-if="category.subcategories.length > 0">
                                        <li ng-repeat="subcategory in category.subcategories track by subcategory.id">
                                            <a href="#" ng-class="{'selected': subcategory.selected}" ng-click="noteCtrl.selectCategory($event, subcategory)" ng-bind="::subcategory.name"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#" ng-click="$event.preventDefault(); noteCtrl.showAddCategoryModal = true;">Add category</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Text</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" ng-model="noteCtrl.item.text"
                          placeholder="Text note goes here..." required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
                <a ui-sref="main.home" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
    <add-tag-modal show-modal="noteCtrl.showAddTagModal"></add-tag-modal>
    <add-category-modal show-modal="noteCtrl.showAddCategoryModal"></add-category-modal>
</div>