.login-form{
    padding: 0 15px;
    max-width: 500px;
    margin: 200px auto;
}
.login-form .form-group{
    margin-left: 0;
    margin-right: 0;
}
.username{
    text-transform: capitalize;
}
.create-user .alert{
    float: right;
    margin: 0;
}
.colors-wrapper{
    display: block;
    list-style: none;
    padding: 0;
}

.color-item-wrapper{
    display: inline-block;
}
.color-item{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
}
.color-item.active{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
}
.note-text pre{
    background: transparent;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}
.note-text{
    max-width: 220px;
}
.labels-row .label,
.categories-row .label
{
    cursor: pointer;
}
.labels-row .label:hover:after,
.categories-row .label:hover:after
{
    content: "\e014";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: -5px;
    right: -5px;
    color: #d9534f;
}
.labels-row .labels-inner-wrapper,
.categories-row .categories-inner-wrapper
{
    padding-top: 4px;
}
.label{
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-top: 5px;
}
.category-modal .glyphicon{
    font-size: 20px;
}
.categories-row .subcategory-list{
    list-style-type: none;
}
.categories-row .subcategory-list a:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.categories-row .subcategory-list a{
    text-decoration: none;
    display: block;
    color: inherit;
}
.categories-row .selected:after{
    content: "\e013";
    font-family: 'Glyphicons Halflings';
}
.input-group {
    margin-top: 8px;
}